.m{
    background-color: black;
    margin-top: 20rem;
    height: 30rem;
}

#fh3{
    padding-top: 4rem;
    margin-bottom: 0;
    height: 8.5rem;
    width: 15rem;
}

p{
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    /* identical to box height */
    color: #3F3F3F;
}


@media screen and (max-width : 450px){
    #fh3{
        height: 7.5rem;
        width: 9rem;
      }
}