li.ui.toggle.checkbox{
  display: flex;
  align-self: center;
} 



.navbar2 {
  background: transparent;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 999;
  transition: all 0.4s ease-in;
  padding-bottom: 0.5vh;
}

.navbar.active2{
  background: black;
  box-shadow: 5px 0 10px  #474747;
  transition: all 0.4s ease;
}

.navbar-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5rem;
  max-width: 1500px;
}

.navbar-logo2 {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu2 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  margin-left: 20rem;
}


.nav-item2 {
  height: 80px;
}

.nav-links2 {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links2:hover {
  /* border-bottom: 4px solid #fff; */
  color: #461EB8;
  transition: all 0.2s ease-out;
}

.bars2 {
  height: 3rem;
  width: 3rem;
  margin-bottom:1rem;
}

.nav-links-mobile2 {
  display: none;
}

.menu-icon2 {
  display: none;
}


span{
  color: #461EB8;;
}

.mobileHead2{
  display: none;
}

/* --------------------------- */

#logout{
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background: #181818;
  border-radius: 4px;
  color: #F0F0F0;
  font-weight: medium;
  font-size:1.8rem ;
  border: none;
  cursor: pointer;
}

#not_logout{
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background: #F0F0F0;
  border-radius: 4px;
  color: #181818;
  font-weight: medium;
  font-size:1.8rem ;
  border: none;
  cursor: pointer;
}

#BfabIcon,#Btimes{
  color:black;
}

#WfabIcon,#Wtimes{
  color:white;
}

#darkIcon{
  cursor: pointer;
}

#day,#night{
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

#logo2{
  height: 4rem;
  width: 13rem;
}

@media screen and (max-width: 960px) {
  .NavbarItems2 {
    position: relative;
  }

  .nav-menu2 {
    margin-left: 0;
  }

  .nav-menu2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .mobileHead2{
    display: grid ;
  }

  .nav-menu.active2 {
    /* background: #242222; */
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  #BlackBg{
    background:#242222 ;
  }

  #WhiteBg{
    background: white;
  }

  .nav-links2 {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    
  }

  .nav-links2:hover {
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo2 {
    position: absolute;
    top: 2.2rem;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon2 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  

  .nav-links-mobile2 {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile2:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
  #logo2{
    height: 2.2rem;
    width: 7rem;
  }
}



a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}