#waitMessage{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    width: 18vw;
    color: #919191;
    
}